.header-section { 
    background-color: #0099FF;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
} 
.name {
    color: white;
}
.designation {
    color: #181818;
}
.1990-section {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}
.2000-section {
    background-color: #0099FF;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.2010-section {
    background-color: white;
    padding-right: 50px;
    padding-left: 80px;
    padding-bottom: 20px;
}
.footer-section {
    background-color: #0099FF;
    padding-left: 50px;
    padding-right: 50px;
}